html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  z-index: 1;
  transition: all 1s linear;
}

.polaroid:first-child {
  top: 100px;
  left: 20%;
  transform: rotate(-15deg);
}

.polaroid:nth-child(2) {
  top: 150px;
  left: 30%;
  transform: rotate(5deg);
  z-index: 2;
}

.polaroid:nth-child(3) {
  top: 100px;
  left: 40%;
  transform: rotate(35deg);
}

.polaroid:hover {
  z-index: 355;
  transform: rotate(0);
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 1);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1.2em;
  left: 0;
  width: 100%;
  text-align: center;
}
